<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Photography Website Concept</title>
	<meta name="description" content="A photography-inspired website layout with an expanding stack slider and a background image tilt effect" />
	<meta name="keywords" content="photography, template, layout, effect, expand, image stack, animation, flickity, tilt" />
	<meta name="author" content="Codrops" />
	<link rel="shortcut icon" href="/static/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/flickity.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
	<script src="/static/js/modernizr.custom.js"></script>
    <style>
        .hero > div {
            background: #212121 url(../static/img/bg.jpg) no-repeat 50% 0;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="hero">
            <div class="hero__back hero__back--static"></div>
            <div class="hero__back hero__back--mover"></div>
            <div class="hero__front"></div>
        </div>
        <header class="codrops-header">
            <div class="codrops-links">
                <a class="codrops-icon codrops-icon--prev"></a>
                <a class="codrops-icon codrops-icon--drop"></a>
            </div>
            <h1 class="codrops-title">Mr.Bean's  <span>Photography</span></h1>
            <nav class="menu">
                <a class="menu__item menu__item--current" href="#"><span>Work</span></a>
                <a class="menu__item" href="#"><span>Contact</span></a>
                <a class="menu__item" href="/admin"><span>Admin</span></a>
            </nav>
        </header>
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
    </div>
    {% block scripts %}
        <script src="/static/js/flickity.pkgd.min.js"></script>
        <script src="/static/js/smoothscroll.js"></script>
        <script src="/static/js/main.js"></script>
    {% endblock %}
</body>

</html>